<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="{{ asset('/img/favicon.png') }}">
        {% block stylesheets %}
            <link href="{{ asset('styles/app.css') }}" rel="stylesheet">
            <link href="{{ asset('styles/styles.css') }}" rel="stylesheet">
        {% endblock %}
        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    {%  for type, messages in app.flashes %}
        {%  for message in messages %}
            <div class="alert alert-{{ type }}">
                {{ message }}
            </div>
        {%  endfor %}
    {%  endfor %}
    <body>
        {{ include("header.html.twig") }}
        <main>
        {% block main %}{% endblock %}
        </main>
        {{ include("footer.html.twig") }}
    </body>
</html>












</html>
